.background {
    background-image: url(Background.jpg);
    height: 20rem;
    background-size: cover;
    background-position: center;
}

.background2 {
    background-image: url(MoreInfo.jpg);
    height: 20rem;
    background-size: cover;
    background-position: center;
}
.title {
    color: white;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
    font-size: 9rem;
    font-weight: 100%;
}

.title2 {
    color: black;
    text-shadow: 5px 5px 20px rgba(255 , 255, 255, 1);
    font-size: 9rem;
    font-weight: 100%;
}
.square {
    list-style-type: square;
    margin-left: 2em;
   }

.category {
    width: 60rem; 
    background-color: rgb(255,255,224);
    box-shadow: 1px 1px 20px rgba(1 , 1, 1, 0.3);
}

.wearecanadianproud {
    position: absolute;
    background-image: url(CP\ Logo.png);
    background-size: cover;
    background-position: center;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
}

.quebec-boys{
    position: absolute;
    background-image: url(QuebecBoys.JPG);
    background-size: cover;
    background-position: center;
    bottom: 0;
    left: 20px;
    width: 20px;
    height: 20px;
}

.zee-by-north {
    position: absolute;
    background-image: url(ZeeByNorth.jpg);
    background-size: cover;
    background-position: center;
    bottom: 0;
    left: 40px;
    width: 20px;
    height: 20px;
}

.brokinis {
    position: absolute;
    background-image: url(Brokinis.png);
    background-size: cover;
    background-position: center;
    bottom: 0;
    left: 60px;
    width: 20px;
    height: 20px;
}